:root {
  --background-color-1: rgba(0, 41, 66, 1);
  --background-color-2: rgba(3, 12, 28, 1);
  --background-color-3: rgba(20, 4, 20, 1);

  --div-background-color-1: rgba(217, 217, 217, 0.14);
  --div-background-color-2: rgba(217, 217, 217, 0.1);

  --div-border-color-1: rgba(255, 255, 255, 0.49);
  --div-border-color-2: rgba(255, 255, 255, 0.21);

  --text-color-1: white;
}

@font-face {
  font-family: "nevis Bold";
  font-style: normal;
  font-weight: normal;
  src: local("nevis Bold"),
    url("./Fonts/nevis-cufonfonts-webfont/nevis.woff") format("woff");
}

body {
  height: 100vh;
  width: 100vw;

  padding: 0px;
  margin: 0px;

  font-family: "nevis Bold";
  color: var(--text-color-1);
  overflow-x: hidden;
}

.main-div {
  background: radial-gradient(
    circle,
    var(--background-color-1) 0%,
    var(--background-color-2) 35%,
    var(--background-color-3) 100%
  );

  width: 100%;
  height: fit-content;

  display: flex;
}

/* * Sidebar */
.sidebar {
  background: linear-gradient(
    159deg,
    var(--div-background-color-1) 0%,
    var(--div-background-color-2) 86%
  );
  backdrop-filter: blur(40px);
  width: 300px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
}

.sidebar img {
  margin-top: 26px;
  margin-bottom: 26px;
}

.sidebar .buttons {
  width: 100%;
  height: 100%;
}

.sidebar .full-sized-buttons {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .full-sized {
  width: calc(100% - 39px);

  display: flex;
  align-items: center;

  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color-1);

  padding: 5px;
  margin-bottom: 13px;
}

.sidebar .active {
  background: linear-gradient(
    159deg,
    var(--div-background-color-1) 0%,
    var(--div-background-color-2) 86%
  );
  backdrop-filter: blur(40px);
}

.sidebar .full-sized img {
  padding: 0px;
  margin: 0px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar .full-sized p {
  margin: 0px;
  margin-left: 13px;
  font-size: 20px;
}

.sidebar .small-sized-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .small-sized-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  width: fit-content;
}

.sidebar .small-sized {
  width: fit-content;

  display: flex;
  align-items: center;

  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color-1);

  padding: 5px;
  margin-bottom: 13px;
}

.sidebar .small-sized img {
  padding: 0px;
  margin: 5px;
}

.sidebar .small-sized-buttons .copyright {
  color: var(--text-color-1);
  margin: 0px;
}

/* * General Content */
.page-content {
  width: calc(100% - 300px);
  padding-left: 26px;

  margin-left: 300px;
}

.page-content .header-text {
  font-size: 30px;
}

/* * Main Page Content */

/* SlideShow */
.slideshow {
  position: relative;
  width: 70%;
  aspect-ratio: 1.5;

  display: flex;
  justify-content: center;
}

.slideshow::before {
  content: "";
  position: absolute; /* position it behind the div */
  top: -3.25px;
  left: -3px;
  right: -3.75px;
  bottom: -3.25px;
  z-index: 0; /* put it behind the div */
  background: linear-gradient(
    to bottom right,
    var(--div-border-color-1),
    var(--div-border-color-2)
  ); /* apply the gradient background */
  border-radius: 10px; /* apply the rounded corners */
}

.slideshow img {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: 1;
  border-radius: 10px;
}

.slideshow .slideshow-img.active {
  display: block;
}

.slideshow .slideshow-img:not(.active) {
  display: none;
}

.controls {
  position: absolute;
  bottom: 0px;
  /* left: calc(50% - (100px / 2)); */

  padding: 6.5px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom right,
    rgb(217, 217, 217, 0.14) 0%,
    rgb(217, 217, 217, 0.1) 90%
  );
  backdrop-filter: blur(40px);
  border-radius: 10px 10px 0px 0px;

  border-style: solid;
  border-color: var(--div-border-color-2);
  border-width: 3.25px;
  border-bottom: none;

  z-index: 1;
}

.controls p {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.controls button {
  aspect-ratio: 1;
  width: 39px;
  height: 39px;

  color: white;
  outline: none;
  border: none;
  border-radius: 10px;

  background: linear-gradient(
    to bottom right,
    rgb(217, 217, 217, 0.14) 0%,
    rgb(217, 217, 217, 0.1) 90%
  );
  backdrop-filter: blur(40px);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.1s;
}

.controls button:active {
  transform: scale(0.8);
}

.controls img {
  width: 26px;
  height: 26px;
  user-select: none;
}

.controls img:after {
  content: " ";
  position: absolute;
  top: 1;
  right: 1;
  bottom: 1;
  left: 1;
  z-index: 99;
  background-color: red;
}

.controls #prev img {
  transform: rotateY(180deg);
}

/* Our Mission */
.page-content .our-mission {
  width: 70%;
  aspect-ratio: 1.5;
  position: relative;

  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content .our-mission img {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: 1;
  border-radius: 10px;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
  filter: blur(10px) contrast(120%);
}

.page-content .our-mission p {
  position: relative;
  z-index: 1;

  margin: 0px;
  padding: 10%;
  /* font-size: 127%; */
  font-size: 2vw;
  filter: drop-shadow(0px 4px 1px black);
}
